@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

.Menus {
  display: flex;
  align-items: flex-end;
  font-family:  Roboto;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  line-height: 35.16px;
  letter-spacing: -3%;

}

.Footer-Menus {
  margin-top: 30%;
  display: flex;
  align-items: flex-end;
  color: #E2DED3;
  font-family:  Roboto;
  font-weight: normal;
  font-style: italic;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -3%;
}
