@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@font-face {
    font-family: "AnglodavekA55E";
    src: local("AnglodavekA55E"),
     url("./fonts/Anglodavek/Anglodavek-a55E.ttf") format("truetype");
    font-weight: bold;
    }